/* orgil end ehelj bn*/
body{	
	background-color:#eff2f6 !important;
}
.first{
    margin-top: 46px;
    background-color: white;
    height: 100%;
    border-radius: 10px;
}
.img1 img{
    border-radius: 10px 11px 0px 0px;
    height: 200px !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
}
.pp h2{
    margin-left: 24%;
    font-size: 25px;
}
.pp h4{
    margin-top: -10px;
    margin-left: 24%;
    font-size: 17px;
}
.btn1{
    color: #d6293e;
    background-color: #d6293e1a;
    border-radius: 7px;
    width: 142px;
    margin-left: 100px;
	margin-top:25px;
}
.btn1 h1{
    font-size: 20px;

}
.text ul{
    margin-left: 20px;
    text-align: left !important;
    margin-top: 0 !important;

}
.btn1 i{
    font-size: smaller;
}
.btn2{
    display: flex !important;
}
.btn-danger-soft a{
	text-decoration:none;
	color:red;
}
.bi-arrow-through-heart i{
	margin-bottom:10px;
}
.pp .row .col-md-5 h3 {
	margin-left:15px;
	font-size:20px;
}
.img1 img{
	padding-bottom:5px;
}
 .name h2{
	color:brown;
	width: 100px;
    height: 100px;
	padding-top:28px;
	border:3px, solid , black;
	border-radius:50%;
	background-image:url('https://www.shutterstock.com/image-vector/abstract-ai-circuit-board-background-600nw-2471339475.jpg');
	text-align:center;
} 
/* end duusaj bn*/
